/* Product.css */

/* Center align header and section */
header, section {
    text-align: center;
  }
  
  /* Remove default margins for h1 and h2 */
  h1, h2 {
    margin: 0;
  }
  
  /* Adjusted styles for the services container */
  .services-container {
    display: flex;
    flex-direction: column; /* Stack articles vertically on small screens */
    gap: 20px; /* Adjust the gap between articles as needed */
    max-width: 100%; /* Allow the container to take full width on small screens */
    margin: 20px auto; /* Center the container and add some margin */
    
  }
  
  /* Adjusted styles for individual articles in the services container */
  .services-container article {
    flex: 1;
    max-width: 100%; /* Allow articles to take full width on small screens */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Ensure content doesn't overflow */
    transition: background-color 0.3s ease-in-out; /* Add a smooth background color transition */
    background-color: #7258BC;
  }
  
  /* Background color change on hover */
  .services-container article:hover {
    background-color: #f0f0f0; /* Subtle color change on hover */
  }
  
  /* Styles for article content */
  .article-content {
    padding: 15px;
  }
  
  /* Styles for paragraphs within article content */
  .article-content p {
    margin: 10px 0; /* Add some margin between paragraphs */
    color: #333;
    line-height: 1.4;
  }
  
  /* Improved button styles for better intuitiveness */
  .download-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px; /* Increase padding for a larger clickable area */
    font-size: 18px; /* Increase font size for better visibility */
    border: 2px solid #4caf50; /* Add a subtle border for a defined look */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Add smooth transitions */
  
    /* Remove text selection */
    user-select: none;
  }
  
  /* Improved button hover effect */
  .download-button:hover {
    background-color: #45a049; /* Darker green on hover */
    border-color: #45a049; /* Darker border color on hover */
    color: #fff; /* White text on hover */
  }
  
  /* Improved button active effect */
  .download-button:active {
    background-color: #39843d; /* Slightly darker green when clicked */
    border-color: #39843d; /* Slightly darker border color when clicked */
    color: #fff; /* White text when clicked */
  }
  
  /* List styles within article content */
  .article-content ul li {
    color: #333;
    line-height: 1.4;
  }
  
  /* Media query for tablet screens */
  @media only screen and (min-width: 900px) {
    /* Adjust styles for larger screens here */
    .services-container {
      flex-direction: row; /* Revert to horizontal layout for tablets and larger screens */
      justify-content: center; /* Center-align articles in the container */
      
    }
  
    .services-container article {
      max-width: 300px; /* Adjust the maximum width for individual articles on tablets */
    }
  }
 
  @media only screen and (min-width: 768px) {
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 20px;
    }
  }
  