/* FAQComponent.css */

.faq-container {
    max-width: 300px;
   
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .question {
    font-weight: bold;
    cursor: pointer;
  }
  
  .answer {
    display: none;
    margin-top: 10px;
  }
  
  .answer.active {
    display: block;
    background-color: bisque;
  }
  