/* Home page css */
.home-container {
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

/* Responsive design for mobile and tablet */
@media screen and (max-width: 768px) {
  .content {
      padding: 20px;
  }

  h1 {
      font-size: 1em;
  }

  p {
      font-size: 1em;
  }

  .contact-container,
  .UserQuery-container {
    display: flex;
      flex-direction: column;
     
      align-items: center;
      padding: 20px;
  }

  .contact-details,
  .follow-details,
  .contact-map {
      width: 100%;
      margin: 10px 0;
  }
}

/* product.js file css */

#product {
  text-align: center;
  
  
}

.Comman-card {
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin: 50px;
 padding: 20px;
  
}

/* Contact page css */
#contact {
  text-align: center;
  padding: 20px;
  background-color: #be5e5e;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.contact-details,
.follow-details,
.contact-map {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* UserQuery.css */
.UserQuery {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.UserQuery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

