.home{
    background-color: #7258BC;
    margin: 0%;
}
.home-container {
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 20px; /* Add some padding for better aesthetics */
  height: 500px; /* Set your desired height */
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
  }