/* HomePage.css */

.home-container {
  background-color: #7258BC;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #0eaf99;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.images-slider {
  margin-top: 20px;
}

.images-slider img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .home-container {
    padding: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }
}
